/* CSS definition for the frontend. */

.croquis_nbext .cr_main {
    /* margin-left: 25px; */
    /* margin-right: 25px; */
    margin-bottom: 30px;
}

.croquis_nbext .cr_main .cr_ctrl_panel {
    margin-bottom: 10px;

    font-size: 15px;
    text-align: right;
    color: #950;
}

.croquis_nbext .cr_main .cr_ctrl_panel span.cr_ctrl_btns {
    margin-right: 30px;
}

.croquis_nbext .cr_main .cr_ctrl_panel input {
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
}

.croquis_nbext .cr_main1 {
    margin: 0px 25px 30px 25px;
}

.croquis_nbext .cr_canvas_plus_x_axis {
    position: relative;

    /* We need this because cr_tooltip is under this and must be visible even
     * when it's partially out of the canvas.
     */
    overflow: visible;
}

.croquis_nbext .cr_x_axis .cr_tick {
    background-color: black;
    width: 1px;
    height: 3px;

    position: absolute;
    top: 0px;
}

.croquis_nbext .cr_x_axis .cr_label {
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
}

.croquis_nbext .cr_y_axis .cr_tick {
    background-color: black;
    width: 3px;
    height: 1px;

    position: absolute;
    right: 0px;
}

.croquis_nbext .cr_y_axis .cr_label {
    position: absolute;
    right: 5px;
    transform: translateY(-50%);
}

.croquis_nbext .cr_canvas {
    height: 50px;  /* Initial height before anything is drawn. */
}

.croquis_nbext .cr_inner {
    overflow: visible;

    width: 100%;
    height: 100%;

    user-select: none;
}

.croquis_nbext img.cr_tile {
    position: absolute;

    max-width: 256px;
    max-height: 256px;

    margin: 0px;
    border-style: none;
    /* border: thin solid red; */

    user-select: none;
}

/* Contains highlight tiles. */
.croquis_nbext .cr_foreground {
    visibility: hidden;  /* Hidden by default. */
    background-color: rgba(255, 255, 255, 0.8);

    /* Must cover the whole area. */
    width: 100%;
    height: 100%;

    user-select: none;
}

/* Contains grid lines. */
.croquis_nbext .cr_grid {
    width: 100%;
    height: 100%;
    user-select: none;
}

.croquis_nbext .cr_grid .x_grid {
    position: absolute;
    width: 1px;
    height: 100%;
    border-left: 1px dashed rgba(0, 45, 209, 0.5);
}

.croquis_nbext .cr_grid .y_grid {
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: 1px dashed rgba(0, 45, 209, 0.5);
}

/* "Crosshair" for the nearest point. */
.croquis_nbext .cr_grid .nearest_x {
    position: absolute;
    width: 1px;
    height: 100%;
    border-left: 1px dashed rgba(196, 0, 95, 0.8);
}

.croquis_nbext .cr_grid .nearest_y {
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: 1px dashed rgba(196, 0, 95, 0.8);
}

/* Used for select-to-zoom. */
.croquis_nbext .cr_select_area {
    visibility: hidden;  /* Hidden by default. */
    background-color: rgba(66, 57, 42, 0.7);
    border-style: dotted;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.8);

    user-select: none;
}

.croquis_nbext .cr_tooltip {
    position: absolute;
    visibility: hidden;  /* Hidden by default. */
    background-color: #eec;
    border-style: solid;
    border-width: 2px;
    /* border-color: supplied by the code; follows item color. */

    padding: 5px;

    max-width: 200px;
    width: fit-content;
    white-space: pre-wrap;
}

.croquis_nbext .cr_statusbar {
    height: 40px;

    /* Initially hidden: only shows up if the backend takes too long. */
    visibility: hidden;
}

.croquis_nbext .cr_legend {
    flex: 0.1 1 160px;
    min-width: 120px;

    display: flex;
    flex-direction: column;

    padding: 20px 0px 0px 20px;

    font-size: 12px;
    line-height: normal;
}

/* https://stackoverflow.com/a/63890844 */
.croquis_nbext .cr_legend li + li {
    margin-top: 3px;
}

.croquis_nbext .cr_legend .cr_searchbox input {
    width: 100%;
    font-family: monospace;
}

.croquis_nbext .cr_legend .cr_search_ctrl {
    text-align: left;
    font-size: 90%;

    margin-top: 15px;

    position: relative;
}

.croquis_nbext .cr_legend .cr_search_ctrl ul.cr_btn_popup {
    visibility: hidden;

    background-color: #ffe;
    border: 1px solid #063;
    padding: 10px;

    list-style-type: none;

    position: absolute;
    top: 15px;
    left: 15px;
}

.croquis_nbext .cr_legend .cr_search_ctrl input[type="checkbox"] {
    margin: 0px;
    vertical-align: middle;
}

.croquis_nbext .cr_legend .cr_search_stat {
    text-align: left;
    font-size: 90%;
    color: #852400;
}

.croquis_nbext .cr_legend ul.cr_search_result {
    flex: 1 0 100px;
    overflow: auto;

    list-style-type: none;
    margin: 15px 0px 15px 0px;
    padding: 0px;
}

.croquis_nbext .cr_legend ul.cr_search_result li {
    text-align: left;
    font-family: monospace;
    white-space: nowrap;
}

/* When highlighted, e.g., by hovering over the line on canvas. */
.croquis_nbext .cr_legend ul.cr_search_result li.highlighted {
    background-color: #dff;
    font-weight: bold;
}

.croquis_nbext .cr_legend ul.cr_search_result li:hover {
    background-color: #dff;
}

.croquis_nbext .cr_legend ul.cr_search_result li input[type="checkbox"] {
    margin: 0px 0.5em 0px 0px;  /* only 0.5em on right */
    vertical-align: middle;
}

.croquis_nbext .cr_legend ul.cr_search_result li svg {
    vertical-align: middle;
}

.croquis_nbext .cr_legend .cr_info {
    flex: 0 0 70px;

    background-color: #dff;  /* test */
}

/*******************************
 * Debugging related elements. *
 *******************************/

.croquis_nbext .cr_dbg_btns {
    background-color: #cfd;
    color: #950;
}

.croquis_nbext .cr_dbgpt1 {
    color: red;
    font-size: 10px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

.croquis_nbext .cr_dbgpt2 {
    color: black;
    font-size: 10px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

.croquis_nbext .cr_dbg_status {
    background-color: #dfe;
    position: absolute;
    text-align: center;
    z-index: 5;

    left: 50px;
    top: 50px;
    width: 400px;
}

.croquis_nbext .cr_dbglog {
    background-color: #dfe;
}
